body {
    background-color: black;
}

#trackerimages {    
    background-color: black;
}

#facefinder_container{
    background-color: white;
}

#container1 canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
}